@charset "UTF-8";

/*---------- 全体 ----------*/
html * {
box-sizing: border-box;
margin: 0;
}

/*　チェック用アウトライン
　　*{outline:1px solid #FF0000;}

カラーパレット
#b3d4fc　水色
#ffa500　オレンジ
#898989　グレー
#FFFFFF　白
*/

body {
  margin: 0;
/*  overflow-y: hidden;*/
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

header {
  z-index: 10;
  background-color: #fff;
}

main {
  flex: 1;
  background-color: #fff;
/*  overflow-y: scroll;*/
}

footer {
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 8px;
}

#page_top {
	margin-right:22px;
	margin-bottom:4px;
}

/*--------- logoとnavを横に並べる  ------*/
.t-heditem {
    display: flex;
    padding: 20px 8px;
	z-index: 1000;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.logo {
	margin-left:30px;
	margin-top:6px;
}

.nav {
	vertical-align: middle;
	margin-top: 10px;
}

.nav ul {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: -56px;
}

.nav li {
    display: inline;
	list-style-type: none;
	padding-right: 30px;
	vertical-align: middle;
	list-style-type: none;
}
.nav {
	vertical-align: middle;
	margin-top: 10px;
}

.nav ul {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: -56px;
}

.nav li {
    display: inline;
	list-style-type: none;
	padding-right: 30px;
	vertical-align: middle;
	list-style-type: none;
}

/*-----------  logo 大きさ設定  -------------------*/
.logo_image {
    width: 70px;
}

body {
	display: inline-block;
	background-color: #ffffff;
	color: inherit;
}



h2 {
	text-align: center;
}


/*--------------  メイン部分nav 配置及び詳細設定  ---------------------*/
.mainarea1 {
	background-color: #FFFAF0;
	opacity: 0.7;
}

.navnew li {
	display: block;
	list-style-type: none;
	text-align: right;
	margin: 20px;
}
.t-min {
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #898989;
  background: #ECECEC;
  border-radius: 15px 0 0 15px;
  transition: .4s;
}
.t-min:hover {
	background: #ffa500;
	color: #ffff;
}
.s-min {
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #898989;
  background: #ECECEC;
  border-radius: 15px 0 0 15px;
  transition: .4s;
}
.s-min:hover {
	background: #b3d4fc;
	color: #ffff;
}


.abt-yzw {
	text-align:center;
	margin-top: 300px;
	margin-bottom: 0px;
	font-weight:800;
	font-size: 70px;
	color: #ccc;
}
.abt-yzw::first-letter {
	color:#ffa500;
	}
.abt-yzw2 {
	color:#808080;
	font-size: 20px;
	text-align: center;
	margin-bottom: 70px;
}
.abt-yzw3 {
	color: #b3d4fc;
	font-size: 30px;
	text-align: center;

	margin-bottom: 10px;
	position: relative;
	font-weight: 600;
}

.abt-yzw4 {
	color: #b3d4fc;
	font-size: 20px;
	text-align: left;
	margin-left: 20%;
	margin-top: 50px;
	font-weight: 600;
}
.abt-yzw5 {
	color: #ffa500;
	font-size: 30px;
	text-align: left;
	margin-left: 20%;
	letter-spacing: 0.5em;
	margin-bottom: 30px;
	font-weight: 600;
}
.abt-yzw6 {
	color: #b3d4fc;
	font-size: 20px;
	text-align: left;
	margin-left: 10%;
	margin-top: 50px;
	font-weight: 600;
}
.abt-yzw7 {
	color: #ffa500;
	font-size: 30px;
	text-align: left;
	margin-left: 10%;
	margin-bottom: 30px;
	letter-spacing: 0.5em;
	font-weight: 600;
}

.yzw-rea-matome {
	display: flex;

}
.abt-rea {
	text-align: left;
	margin: 30px;
	line-height: 2.5em;
	font-size: 18px;

}
.main1-image {
	display: inline;
	margin-left: 30px;
}
.yzw-trea-matome {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
.abt-trea {
	text-align: left;
	margin: 20px;
	line-height: 2.5em;
	font-size: 18px;
}
.main2-image {
	display: inline;
}
.yzw-prea-matome {
	display: flex;
}
.main3-image {
	display: inline;
	margin-left: 50px;
}
.abt-prea {
	text-align: left;
	margin: 30px;
	line-height: 2.5em;
	font-size: 18px;
}
/*-----お問い合わせフォーム----------*/
.cct-yzw {
	text-align:center;
	margin-top: 200px;
	margin-bottom: 0px;
	font-weight:800;
	font-size: 70px;
	color: #ccc;
}
.cct-yzw::first-letter {
	color:#ffa500;
	}
.cct-yzw2 {
	color:#808080;
	font-size: 20px;
	text-align: center;
}
/* お問い合わせフォーム全体 */
.cct-form {
	width: 100%;
	display: flex;
    position: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;

}
/* お名前～電話番号までのまとめ */

.cct-matome {
	float: left;
	margin-right: 5px;
	margin-bottom: 20px;
}
/* ご要望・ご質問まとめ */
.yzw-taa {
	float: right;
	margin-bottom: 20px;
}
/* お問い合わせ  input text */
.cct {
	width:100%;
    background:#f5f5f5;
    border:0;
    padding:15px;
    border-radius:6px;
    margin-bottom:10px;
    margin-right: 20px;
    border:1px solid #eee;
    height: 20px;
    margin-bottom: 20px;
}
/* 必須項目 */
sup {
	color: #DC143C;
	font-size: 10px;

}
/* お問い合わせボタン */
.yzw-confi {
   text-align: center;
   display: inline-block;
   font-weight: bold;
   padding: 10px;
   text-decoration: none;
   color: #808080;
   background: #ECECEC;
   border-radius: 10px 10px 10px 10px;
   border: solid 1px #808080;
   transition: .4s;
   margin-bottom: 200px;
   margin-top: 30px;
   width:100%;
}
.yzw-confi:hover {
	background: #ffa500;
	color: #ffff;
}
/*-------- 反応ボタン ----commom.css-----*/

.greeting-rea {
	padding:10px;
	width: 100%;
}
.plus-rea {
	padding:10px;
	width: 100%;
}
.minus-rea {
	padding:10px;
	width: 100%;
}


.know:hover span.s_topremark1 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFa500;
}
 .know span.s_topremark1 {
  display: none;
}
.unknow:hover span.s_topremark2 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
 .unknow span.s_topremark2 {
  display: none;
}
.react:hover span.s_topremark3 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark3 {
  display: none;
}
.react:hover span.s_topremark4 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark4 {
  display: none;
}
.react:hover span.s_topremark5 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark5 {
  display: none;
}
.react:hover span.s_topremark6 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark6 {
  display: none;
}
.react:hover span.s_topremark7 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark7 {
  display: none;
}
.react:hover span.s_topremark8 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark8 {
  display: none;
}
.react:hover span.s_topremark9 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark9 {
  display: none;
}
.react:hover span.s_topremark10 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark10 {
  display: none;
}
.react:hover span.s_topremark11 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark11 {
  display: none;
}
.react:hover span.s_topremark12 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark12 {
  display: none;
}
.react:hover span.s_topremark13 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark13 {
  display: none;
}
.react:hover span.s_topremark14 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #ffa500;
}
.react span.s_topremark14 {
  display: none;
}
.react:hover span.s_topremark15 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark15 {
  display: none;
}
.react:hover span.s_topremark16 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #ffa500;
}
.react span.s_topremark16 {
  display: none;
}
.react:hover span.s_topremark17 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark17 {
  display: none;
}
.react:hover span.s_topremark18 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark18 {
  display: none;
}
.react:hover span.s_topremark19 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #FFA500;
}
.react span.s_topremark19 {
  display: none;
}
.react:hover span.s_topremark20 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark20 {
  display: none;
}
.react:hover span.s_topremark21 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark21 {
  display: none;
}
.react:hover span.s_topremark22 {
    background-color: #ffff;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    border-radius:15px;
    border: 2px solid #b3d4fc;
}
.react span.s_topremark22 {
  display: none;
}


table {
    margin-left: auto;
    margin-right: auto;
}
.react{
	position: relative;
	background:#fff;
	border: 0;
}
.material-icons{
	font-size:280px;
}

.reaction_button{
	width: 100%;
	text-align: center;
}
.imgknow:hover {
	opacity:0.5;
	cursor: pointer;
}
.imgknow:active {
	position: relative;
	top: 3px;
}
.imgunknow:hover {
	opacity:0.5;
	cursor: pointer;
}
.imgunknow:active {
	position: relative;
	top: 3px;
}
.reaction {
	position: relative;
	width: 110px;
	height: 110px;
}
.reaction:hover {
	opacity:0.5;
	cursor: pointer;
}
.reaction:active {
	position: relative;
	top: 3px;
}
.know {
	position: relative;
	display:inline-block;
	margin: 20px 40px;
}
.unknow {
	position: relative;
	display:inline-block;
	margin: 20px 40px;
}

/*-------- トップに戻るボタン ---------*/
#page_top{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: #898989;
	opacity: 0.6;
	border-radius: 50%;
	margin-bottom: 10px;
	z-index: 100;
}
#page_top a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}
#page_top a::before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0d8';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
/*----------------------  main.jsp  -------------------------------------*/
/*-------------logo とnavを横に並べる----------------*/
.mainitem {
    display: flex;
    padding:20px 8px;
}
.navitem li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}
/*----------------ヤザワスイッチ mainlogo大きさ変更   --------------*/
.mainlogo_image {
	width: 60%;
}
/*----------------------ヤザワスイッチlogoを真ん中に移動---------------------------*/
.mainlogo {
	text-align: center;
	margin: 50px;
}
.fluffy {
  animation: fluffy1 3s ease infinite;
}
@keyframes fluffy1 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}
.main-y {
	text-align: center;
	font-size: 20px;
	color: #ffa500;
	display: inline;
	margin-right: 30px;
	font-family:fantasy;
	letter-spacing: 1em;
}
.main-s {
	text-align: center;
	font-size: 20px;
	color: #b3d4fc;
	display: inline;
	font-family:fantasy;
	letter-spacing: 1em;
}
.main-ys {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
/*--------------  メイン部分nav 配置及び詳細設定  ---------------------*/
.navnew li {
	display: block;
	list-style-type: none;
	text-align: right;
	margin: 20px;
}
.t-min {
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #898989;
  background: #ECECEC;
  border-radius: 15px 0 0 15px;
  transition: .4s;
}
.t-min:hover {
	background: #ffa500;
	color: #ffff;
}
.s-min {
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #898989;
  background: #ECECEC;
  border-radius: 15px 0 0 15px;
  transition: .4s;
}
.s-min:hover {
	background: #b3d4fc;
	color: #ffff;
}


.abt-yzw {
	text-align:center;
	margin-top: 300px;
	margin-bottom: 50px;
	font-weight:800;
	font-size: 30px;
	color: #ffa500;
}
.yzw-rea-matome {
	display: flex;

}
.abt-rea {
	text-align: left;
	margin: 30px;

}
.main1-image {
	display: inline;
	margin-left: 30px;
}
.yzw-trea-matome {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
.abt-trea {
	text-align: left;
	margin: 30px;
}
.main2-image {
	display: inline;
}
.yzw-prea-matome {
	display: flex;
}
.main3-image {
	display: inline;
	margin-left: 50px;
}
.abt-prea {
	text-align: left;
	margin: 30px;
}
/*-----お問い合わせフォーム----------*/
.cct-yzw {
	text-align:center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight:800;
	font-size: 30px;
	color: #ffa500;
}
/* お問い合わせフォーム全体 */
.cct-form {
	display: flex;
    padding:20px 8px;
    position: center;
    justify-content: center;

}
/* お名前～電話番号までのまとめ */
.cct-matome {
	float: left;
	margin-right: 30px;
}
/* ご要望・ご質問まとめ */
.yzw-taa {
	float: right;
	margin-bottom: 30px;
}
/* お問い合わせ  input text */
.cct {
	width:100%;
    background:#f5f5f5;
    border:0;
    padding:15px;
    border-radius:6px;
    margin-bottom:10px;
    margin-right: 30px;
    border:1px solid #eee;
    height: 20px;
}
/* 必須項目 */
sup {
	color: #DC143C;
	font-size: 10px;

}
/* お問い合わせボタン */
.yzw-confi {
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 10px;
   text-decoration: none;
   color: #808080;
   background: #ECECEC;
   border-radius: 10px 10px 10px 10px;
   border: solid 1px #808080;
   transition: .4s;
}
.yzw-confi:active {
  top:3px;
  box-shadow:none;
}


/*--------------  result.jsp  ---------------------*/
.r_main{
	overflow-y:hidden;
	margin-top: 100px;
}

.r_title{
	margin-bottom: 80px;
}

.result{
	text-align: center;
	margin-top: 50px;
}

.result p{
	font-size: 19px;
	background: linear-gradient(transparent 50%, #ffa500 50%);
}

.r-log-back{
	/*text-align: center;*/
	margin-top: 80px;
}

.r-log-back a{
	color: #000;
	text-decoration : none;
}

.yazawa_tea{
	text-align: center;
	margin-top: 50px;
	color: #777777;
}

/*++++++++++++++++++++++++++++++++++++++++ スマホ向け +++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 767px) {
	.logo {
		margin-left:20px;
	}

	.nav ul {
		padding-right: 20px;
	}
	.nav li {
		padding-right: 20px;
	}
	.material-icons{
		font-size:160px;
	}
	.buttonbox{
		width:160px;
	}
	.know {
		display:inline-block;
		margin: 0;
	}
	.unknow {
		display:inline-block;
		margin: 0;
	}
	.main1-image,
	.main2-image,
	.main3-image{
		height:200px;
		width:auto;
	}
}