@charset "UTF-8";

/*---------- 全体 ----------*/
html * {
box-sizing: border-box;
margin: 0;
}

/*　チェック用アウトライン
　　*{outline:1px solid #FF0000;}

カラーパレット
#b3d4fc　水色
#ffa500　オレンジ
#898989　グレー
#FFFFFF　白
*/

body {
  margin: 0;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {

  background-color: #fff;
}

main {
  flex: 1;
  background-color: #fff;
  overflow-y: scroll;
}

footer {
  background-color: #fff;
}

#page_top {
	margin-right:22px;
	margin-bottom:4px;
}

/*--------- logoとnavを横に並べる  ------*/
.t-heditem {
    display: flex;
    padding: 20px 8px;
	z-index: 1000;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.logo {
	margin-left:30px;
	margin-top:6px;
}

.nav {
	vertical-align: middle;
	margin-top: 10px;
}

.nav ul {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: -56px;
}

.nav li {
    display: inline;
	list-style-type: none;
	padding-right: 30px;
	vertical-align: middle;
	list-style-type: none;
}
.nav {
	vertical-align: middle;
	margin-top: 10px;
}

.nav ul {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: -56px;
}

.nav li {
    display: inline;
	list-style-type: none;
	padding-right: 30px;
	vertical-align: middle;
	list-style-type: none;
}

/*-----------  logo 大きさ設定  -------------------*/
.logo_image {
    width: 70px;
}

body {
	display: inline-block;
	background-color: #ffffff;
	color: inherit;
}



h2 {
	text-align: center;
}


/*--------------  メイン部分nav 配置及び詳細設定  ---------------------*/
.navnew li {
	display: block;
	list-style-type: none;
	text-align: right;
	margin: 20px;
}
.t-min {
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #898989;
  background: #ECECEC;
  border-radius: 15px 0 0 15px;
  transition: .4s;
}
.t-min:hover {
	background: #ffa500;
}
.s-min {
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #898989;
  background: #ECECEC;
  border-radius: 15px 0 0 15px;
  transition: .4s;
}
.s-min:hover {
	background: #b3d4fc;
}

/*-------- 反応ボタン ----commom.css-----*/
.reaction_button{
	width: 100%;
	text-align: center;
}

.know {
	display:inline-block;
}

.imgknow:hover {
	opacity:0.5;
	cursor: pointer;
}
.imgknow:active {
	position: relative;
	top: 3px;
}
.unknow {
	display:inline-block;
}
.imgunknow:hover {
	opacity:0.5;
	cursor: pointer;
}
.imgunknow:active {
	position: relative;
	top: 3px;
}
.nun-know {
	display:inline-block;
	margin: 20px 40px;
}
.nun-unknow {
	display:inline-block;
	margin: 20px 40px;
}
.reaction {
	width: 110px;
	height: 110px;
}
.reaction:hover {
	opacity:0.5;
	cursor: pointer;
}
.reaction:active {
	position: relative;
	top: 3px;
}

/*-------- 反応ボタン ---------*/
.reaction_button{
	width: 100%;
	text-align: center;
}

.know {
	display:inline-block;
	margin-right: 50px;
}
.unknow {
	display:inline-block;
}
.nun-know {
	display:inline-block;
	margin: 20px 40px;
}
.nun-unknow {
	display:inline-block;
	margin: 20px 40px;
}
.reaction {
	width: 110px;
	height: 110px;
}

/*-------- トップに戻るボタン ---------*/
#page_top{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: #898989;
	opacity: 0.6;
	border-radius: 50%;
}
#page_top a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}
#page_top a::before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0d8';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
/*----------------------  main.jsp  -------------------------------------*/
/*-------------logo とnavを横に並べる----------------*/
.mainitem {
    display: flex;
    padding:20px 8px;
}
.navitem li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}
/*----------------ヤザワスイッチ mainlogo大きさ変更   --------------*/
.mainlogo_image {
	width: 60%;
}
/*----------------------ヤザワスイッチlogoを真ん中に移動---------------------------*/
.mainlogo {
	text-align: center;
	margin: 50px;
}
/*--------------  メイン部分nav 配置及び詳細設定  ---------------------*/
.navnew li {
	display: block;
	list-style-type: none;
	text-align: right;
	margin: 20px;
}
/*++++++++++++++++++++++++++++++++++++++++ スマホ向け +++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 767px) {
	.logo {
		margin-left:20px;
	}

	.nav ul {
		padding-right: 20px;
	}
	.nav li {
		padding-right: 20px;
	}
	.imgknow {
		width:120px;
	}
	.imgunknow {
		width:120px;
	}
}