@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/*---------- 全体 ----------*/
html * {
  box-sizing: border-box;
  margin: 0;
}

/*　チェック用アウトライン
　　*{outline:1px solid #FF0000;}

カラーパレット
#b3d4fc　水色
#ffa500　オレンジ
#898989　グレー
#FFFFFF　白
*/

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #fff;
}

a {
	text-decoration : none;
}
.t_link:hover{
  color : #ffa500;
}
.t_link:active{
  color : #ffa500;
}
.t_link{
  position: relative;
  display: inline-block;
  transition: .3s;
}
.t_link::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ffa500;
  transition: .3s;
  transform: translateX(-50%);
}
.t_link:visited{
	color : #ffa500;
}
.t_link:hover::after{
  width: 100%;
}
main {
  flex: 1;
  background-color: #fff;
  overflow-y: scroll;
}

footer {
  background-color: #fff;
}

/*------------------- 一覧表示テーブル ----------------------*/
table{
  border-collapse: separate;
  border: solid 1px;
}

select{
	margin-bottom: 10px;
	margin-left: 5px;
}

input{
	margin-bottom: 10px;
	margin-right: 5px;
}

table tbody tr:hover{
  background-color: #b3d4fc;
}
th{
  background-color: #ffa500;
  text-align:center;
}
.dataTables_wrapper
.dataTables_paginate
.paginate_button.current,
.dataTables_wrapper
.dataTables_paginate
.paginate_button.current:hover {
	background: #fff;
}
table.dataTable {
	clear: none;
}
#foo-table_info {
	padding-left: 5px;
}
/*--------------------------    T_login.jsp    ------------------------------------------*/

/*------------ログインフォーム  --------------*/

.t-log-form {
	position: relative;
	background:#FFFF;
    border-radius:8px;
    padding:35px;
    padding-top:30px;
    width:400px;
    margin:50px auto;
    border:1px solid #eee;
    box-shadow:15px 15px 0px rgba(0,0,0,.1);
    z-index: 4;
}
h4 {
  text-align:center;
  font-size:1.4em;
  font-weight:700;
  color:#708090;
  margin-bottom:24px;
}

span {
  font-weight:200;
}
.t-log-input {
  width:100%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}
.t-log-btn {
  position:relative;
  width:100%;
  padding:20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius:6px;
  border:0;
  background:#ffa500;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
/*  box-shadow:0px 3px 0px #c1524e;*/
}

.t-log-btn:active {
  top:3px;
  box-shadow:none;
}

.t-log-first {
  text-align: center;
  font-size: 12px;
}


/*--------------- ふわふわ背景 --------------*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.area{
    background: #fff;
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

/* ログインページの<li>一つにつき一つのまるを作る初期設定 */
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px; /* 円の直径 */
    height: 20px; /* 円の直径 */
    background: rgba(179, 212, 252, 0.8); /* まるの色 水色のRGBA 0.8は透過度合い */
    animation: animate 25s linear infinite; /* 動き全体にかかる時間 */
    bottom: -150px; /* 動きはじめる位置 */
    background: rgba(255, 165, 0, 0.8); /* まるの色 オレンジのRGBA 0.8は透過度合い */
}

/* 1つめの<li>の設定 */
.circles li:nth-child(1){
    left: 25%; /* 画面の横幅を100%とした際、画面左端から何%の位置か */
    width: 80px; /* 円の直径 */
    height: 80px; /* 円の直径 */
    animation-delay: 0s; /* 動き始めるタイミング */
}

/* 2つめの<li>の設定 */
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s; /* 動き始めるタイミング */
    animation-duration: 12s; /* 動き全体にかかる時間 */
    background: rgba(179, 212, 252, 0.8); /* まるの色 水色のRGBA 0.8は透過度合い */
}

/* 3つめの<li>の設定 */
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

/* 4つめの<li>の設定 */
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: rgba(179, 212, 252, 0.8); /* まるの色 水色のRGBA 0.8は透過度合い */
}

/* 5つめの<li>の設定 */
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

/* 6つめの<li>の設定 */
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background: rgba(179, 212, 252, 0.8); /* まるの色 水色のRGBA 0.8は透過度合い */
}

/* 7つめの<li>の設定 */
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

/* 8つめの<li>の設定 */
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

/* 9つめの<li>の設定 */
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

/* 10個めの<li>の設定 */
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/*--------------------------    t_new.jsp    ------------------------------------------*/
​
/*------------新規登録フォーム  --------------*/
​
.t-new-form {
    position: relative;
    background: #fff;
    border-radius:8px;   /*枠の丸み*/
    padding:35px;
    padding-top:30px;
    width:500px;
    margin:50px auto;
    border:1px solid #ffa500;   /* 枠の線の細さと色*/
    z-index: 2;
}
h4 {
  text-align:center;
  font-size:1.4em;
  font-weight:700;
  color:#898989;
  margin-bottom:24px;
}
​
span {
  font-weight:200;
}
.t-new-input {
  width:100%;
  background:#FFEFD5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #fff;
}
.t-new-btn {
  position:relative;
  width:100%;
  padding:20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius:6px;
  border:0;
  background:#ffa500;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
}
​
.t-new-btn:active {
  top:3px;
  box-shadow:none;
}
​
.t-new-first {
  text-align: center;
  font-size: 12px;
}
​
​
/*--------ラジオボタン  ----------*/
​
input[type=radio] {
    display: none;
}
.radio01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.radio01::before {
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.radio01::after {
    background: #ffa500;
    border-radius: 50%;
    content: '';
    display: block;
    height: 11px;
    left: 10px;
    margin-top: -4.5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 10px;
}
input[type=radio]:checked + .radio01::after {
    opacity: 1;
}
input[type="radio"],input[type="checkbox"]{
  position: relative;
  top: 2px;
}


 /*---------------- レスポンシブ ------------------*/
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/*++++++++++++++++++++++++++++++++++++++++ スマホ向け +++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 767px) {
	.t-log-form {
    width:90%;
	}
}